<%- include('../partials/header') -%>
    <%- include('../partials/nav') -%>

        <div class="container mt-5"> navigation
            <div class="card card-body">
                <%- body %>
            </div>
        </div>

        Sidebar
        <%- defineContent("sidebar")%>
            <%- include('../partials/footer'); -%>